<div class="header">
  <h1>Discussion Portal</h1>
  <div class="profile">
    <h3>Welcome, <%= name %></h3>
    <img src="user.jpg" alt="User Image" id="profilePic" title="<%= email %>" />
    <div class="btn logout-btn">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>
