<div class="header">
  <h1>Discussion Portal</h1>
  <div class="profile">
    <h3>Welcome, <%= name %></h3>
    <div class="profile-container">
      <img
        src="user.jpg"
        alt="User Image"
        id="profilePic"
        title="<%= email %>"
      />
      <div class="profile-info" id="profileInfo">
        <div class="img-container">
          <img src="user.jpg" alt="User Image" />
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
        <div class="info">
          <span>Name:</span>
          <div>Raj Mahale</div>
          <span>Email:</span>
          <div>raj@mail.com</div>
        </div>
      </div>
    </div>
    <div class="btn logout-btn">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>
